# -----------------------------------------------------------------------------
# Folders:
#

.settings/
bin/
log/
logs/
target/

# -----------------------------------------------------------------------------
# Files:
#

*.jar
*.war
*~
.DS_Store
.classpath
.project

# -----------------------------------------------------------------------------
# Project Specific:
#

res/data/*
!res/data/*.jpg
!res/data/*.png
!res/data/*.zip
!stegobmp.jar
